body {
	text-align: center;
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
/*
.bar {
    fill: steelblue;
}*/
.d3-tip{
    padding: 10px;
    background:black;
    color:white;
    background-radius:20px; 
}
